apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: model-metrics-monitor
  namespace: monitoring
  labels:
    app: model-metrics-exporter
spec:
  selector:
    matchLabels:
      app: model-metrics-exporter
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
  namespaceSelector:
    matchNames:
      - monitoring
      - kubeflow-user01
      - kubeflow-user02
      - kubeflow-user03
      - kubeflow-user04
      - kubeflow-user05
      - kubeflow-user06
      - kubeflow-user07
      - kubeflow-user08
      - kubeflow-user09
      - kubeflow-user10
