apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: model-metrics-monitor
  namespace: monitoring
  labels:
    app: metrics-exporter
spec:
  selector:
    matchLabels:
      app: metrics-exporter
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
  namespaceSelector:
    matchNames:
      - monitoring

